.titulo__principal{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
    
}
.contenedor__primerPost{
text-align: center;
width: 70%;
padding: 1rem;
border: 1px solid #ddd;
margin: 0 auto;
}
.cabecera{
    text-align: center;
    color: blueviolet;
    background-color: bisque;
    border: 3px solid #ddd;
    font-weight: bold;

}
#footer
{
    text-align: center;
    width: 70%;
    border: 1px solid chocolate;
    padding: 1rem;
    margin: 0 auto;
    background-color: antiquewhite;
    
}